{% extends 'top.html.twig' %}

{% block body %}

  <div class="container">

      <div class="col-xs-12 col-md-12" style="text-align: center;">
          <span class="glyphicon glyphicon-headphones" style="font-size: 450px;padding: 20px;border-radius: 80px;border: 1px solid silver;"></span>
          <h1>App Music Recommend la aplicación ideal parae escuchar tu musica preferida</h1>
          <p>Descubre nuevos artistas segun  tus gustos.</p>
          <a class="btn btn-info">Entra!</a>
      </div>



  </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
