{% extends 'top.html.twig' %}

{% block bodyHome %}


    <div style="text-align: center;">
          <span class="glyphicon glyphicon-headphones" style="font-size: 300px;padding: 20px;border-radius: 80px;border: 1px solid silver;"></span>
          <h1>App Music Recommend la aplicación ideal para escuchar tu musica preferida</h1>
          <p>Descubre nuevos artistas segun  tus gustos.</p>
        <a class="btn btn-info" href="{{ path('listOfSongs') }}">Entra!</a>
      </div>


{% endblock %}

{% block stylesheets %}

{% endblock %}
